<div class="cart-item">
  <img class="img" src="{{ cartItem.product.url }}" />
  <div class="cart-painel">
    <div class="cart-item-details">
      <h3>{{ cartItem.product.name }}</h3>
      <p>
        <strong>{{ cartItem.product.price | currency: "USD" }} </strong>
      </p>

      <label for="inputAmount" class="form-label"
        >Amount:
        <input
          type="number"
          class="number-input"
          id="inputAmount"
          name="amount"
          placeholder=""
          required
          min="0"
          max="10"
          [(ngModel)]="amount"
          (ngModelChange)="recalculateTotal(cartItem)"
        />
      </label>
    </div>
  </div>
</div>
