<!-- <div class="container">
  

  <div
    class="cart-container"
    *ngFor="let orderItem of cartProductList; index as i"
  >
    <app-cart-item [cartItem]="orderItem"> </app-cart-item>
  </div>
  <div class="cart-container" *ngIf="cartTotal !== 0">
    <p>
      <strong>Total:{{ cartTotal | currency: "USD" }}</strong>
    </p>
  </div>
  <div class="cart-container">
    <app-cart-form></app-cart-form>
  </div>
</div> -->

<section class="h-100 h-custom" style="background-color: #eaeded">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px"
        >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div
                    class="d-flex justify-content-between align-items-center mb-5"
                  >
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{ cartItems }} items</h6>
                  </div>
                  <hr class="my-4" />

                  <div
                    *ngIf="cartProductList.length === 0"
                    class="alert alert-warning"
                  >
                    Your Cart is Empty.
                  </div>
                  <div *ngFor="let orderItem of cartProductList; index as i">
                    <app-cart-item [cartItem]="orderItem"> </app-cart-item>
                  </div>

                  <div class="pt-5">
                    <h6 class="mb-0">
                      <a
                        routerLink="/home"
                        routerLinkActive="active"
                        class="text-body"
                        ><fa-icon
                          [icon]="faLongArrowAltLeft"
                          class="me-2"
                        ></fa-icon
                        >Back to shop</a
                      >
                    </h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <app-cart-form></app-cart-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
