<div class="p-5">
  <!--Summary-->
  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
  <hr class="my-4" />

  <div class="d-flex justify-content-between mb-4">
    <h5 class="text-uppercase">Subtotal (1 item):</h5>
    <h5>{{ cartTotalPrice() | currency : "USD" }}</h5>
  </div>

  <h5 class="text-uppercase mb-3">Shipping</h5>

  <div class="mb-4 pb-2">
    <select class="select">
      <option value="1">Standard - {{ 0.0 | currency : "USD" }}</option>
      <option value="2">Express - {{ 5.0 | currency : "USD" }}</option>
    </select>
  </div>

  <hr class="my-4" />

  <div class="d-flex justify-content-between mb-5">
    <h5 class="text-uppercase">Total price</h5>
    <h5>{{ cartTotalPrice() | currency : "USD" }}</h5>
  </div>

  <hr class="my-4" />

  <!--Payment Details-->
  <form [formGroup]="paymentDetailsForm" class="form-group">
    <h3 class="fw-bold mb-5 mt-2 pt-1">Payment Details</h3>

    <!--Input Full Name-->
    <div class="mb-3">
      <label for="inputFullName" class="form-label">Full name</label>
      <input
        type="text"
        class="form-control"
        id="inputFullName"
        name="fullName"
        placeholder="Enter your full name"
        formControlName="fullName"
      />
      <div
        *ngIf="
          paymentDetailsForm.get('fullName')?.invalid &&
          (paymentDetailsForm.get('fullName')?.dirty ||
            paymentDetailsForm.get('fullName')?.touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="paymentDetailsForm.get('fullName')?.hasError('required')"
        >
          Full name is required.
        </small>
        <small
          class="text-danger"
          *ngIf="paymentDetailsForm.get('fullName')?.hasError('minlength')"
        >
          Full name must be at least 3 characters long.
        </small>
      </div>
    </div>

    <!--Input Address-->
    <div class="mb-3">
      <label for="inputAddress" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        name="address"
        placeholder="Enter your address"
        formControlName="address"
      />
      <div
        *ngIf="
          paymentDetailsForm.get('address')!.invalid &&
          (paymentDetailsForm.get('address')!.dirty ||
            paymentDetailsForm.get('address')!.touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="paymentDetailsForm.get('address')!.hasError('required')"
        >
          Address is required.
        </small>
        <small
          class="text-danger"
          *ngIf="paymentDetailsForm.get('address')!.hasError('minlength')"
        >
          Address must be at least 3 characters long.
        </small>
      </div>
    </div>

    <!--Input Card Number-->
    <div class="mb-3">
      <label for="inputCardNumber" class="form-label">Credit card</label>
      <input
        type="text"
        class="form-control"
        id="inputCardNumber"
        name="cardNumber"
        placeholder="(16-digit number)"
        formControlName="cardNumber"
      />
      <div
        *ngIf="
          paymentDetailsForm.get('cardNumber')!.invalid &&
          (paymentDetailsForm.get('cardNumber')!.dirty ||
            paymentDetailsForm.get('cardNumber')!.touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="paymentDetailsForm.get('cardNumber')!.hasError('required')"
        >
          Credit card is required.
        </small>
        <small
          class="text-danger"
          *ngIf="
            paymentDetailsForm.get('cardNumber')!.hasError('minlength') ||
            paymentDetailsForm.get('cardNumber')!.hasError('maxlength')
          "
        >
          Credit card number must be 16 digits.
        </small>
      </div>
    </div>

    <!--Button Pay Now-->
    <button
      type="button"
      class="w-100 btn btn-lg btn-dark"
      data-mdb-ripple-color="dark"
      (click)="submitForm()"
      [disabled]="paymentDetailsForm.invalid"
    >
      Pay Now
    </button>
  </form>
</div>
