<!-- <div class="cart-item">
  <img class="img" src="{{ cartItem.product.url }}" />
  <div class="cart-painel">
    <div class="cart-item-details">
      <h3>{{ cartItem.product.name }}</h3>
      <p>
        <strong>{{ cartItem.product.price | currency: "USD" }} </strong>
      </p>

      <label for="inputAmount" class="form-label"
        >Amount:
        <input
          type="number"
          class="number-input"
          id="inputAmount"
          name="amount"
          placeholder=""
          required
          min="0"
          max="10"
          [(ngModel)]="amount"
          (ngModelChange)="recalculateTotal(cartItem)"
        />
      </label>
    </div>
  </div>
</div> -->

<div class="row mb-4 d-flex justify-content-between align-items-center">
  <div class="col-md-2 col-lg-2 col-xl-2">
    <img
      src="assets/img/catalog/{{ cartItem.product.name }}.png"
      class="img-fluid rounded-3"
      [alt]="cartItem.product.name"
    />
  </div>
  <div class="col-md-3 col-lg-3 col-xl-3">
    <h6 class="text-black mb-0">{{ cartItem.product.name }}</h6>
  </div>
  <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
    <button
      class="btn btn-link px-2"
      onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
    >
      <i class="fas fa-minus"></i>
    </button>

    <input
      id="form1"
      min="0"
      name="quantity"
      value="1"
      type="number"
      class="form-control form-control-sm"
      [(ngModel)]="amount"
      (ngModelChange)="recalculateTotal(cartItem)"
    />

    <button
      class="btn btn-link px-2"
      onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
    >
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
    <h6 class="mb-0">{{ cartItem.product.price | currency : "USD" }}</h6>
  </div>
  <div class="col-md-1 col-lg-1 col-xl-1 text-end">
    <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
  </div>
</div>

<hr class="my-4" />
