<footer class="footer text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Google -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://github.com/renato-viana"
        target="_blank"
        role="button"
        ><img src="../../../assets/img/GitHub-Mark-Light-32px.png"
      /></a>

      <!-- Linkedin -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://linkedin.com/in/renato-borges-viana"
        target="_blank"
        role="button"
        ><img src="../../../assets/img/linkedin.png"
      /></a>

      <!-- Github -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="mailto:renatoviana30@gmail.com"
        target="_blank"
        role="button"
        ><img src="../../../assets/img/gmail.png"
      /></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright
  </div>
</footer>
