<div class="container text-center">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-signin pt-5">
    <div class="p-2">
      <input
        type="email"
        class="form-control is-invalid"
        placeholder="Email"
        name="email"
        [(ngModel)]="email"
        [class.is-invalid]="showError('email', form)"
        required
        email
        #emailInput
      />
      <div *ngIf="showError('email', form)" class="invalid-feedback">
        Invalid email.
      </div>
    </div>

    <div class="p-2">
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        name="password"
        [(ngModel)]="password"
        [ngClass]="showError('password', form) ? 'is-invalid' : ''"
        required
        #passwordInput
      />
      <div *ngIf="showError('password', form)" class="invalid-feedback">
        Invalid password.
      </div>
    </div>

    <p class="text-danger" *ngIf="errorLogin">
      Username or password is invalid.
    </p>

    <div class="p-2">
      <button
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        [disabled]="isLoading"
      >
        Entrar
      </button>
    </div>
  </form>

  <div class="spinner-border text-info" role="status" *ngIf="isLoading">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
